body{
    background-color:#90A4AE;
      cursor: pointer;
    }
    h1
    {
        color: royalblue; 
        font-size: 40px;
    }
    #myCanvas
    {
        border-width:10px;
        background-color: white; 
        border-style:ridge;
    }